.fave-list {
  overflow-x: auto;
  max-width: 98vw;
  margin-left: 2rem;
}

.fave-movies {
  display: flex;
  list-style: none;
}

.movie {
  margin-right: 0.5rem;
}

.movie-title {
  color: whitesmoke;
}
