.title-btn {
  display: flex;
  justify-content: space-between;
  transform: translateY(-70px);
  align-items: center;
}

.movie-title {
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.plus-btn {
  background: transparent;
  border: none;
  border-radius: 50%;
  height: 50px;
  font-size: 15px;
  margin-right: 0.5rem;
}

.plus-btn:focus {
  outline: none;
}

.plus-btn:hover {
  opacity: 1;
}

.movie-poster {
  .plus-btn {
    opacity: 0;
  }
  p {
    opacity: 0;
  }
}
.movie-poster:hover {
  .plus-btn {
    opacity: 1;
  }
  p {
    opacity: 1;
  }
}

.plus-btn:active,
.plus-btn:focus {
  border: none;
}
