* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding-top: 100px;
  background-color: #141414;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #101010;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure it's above other elements */
}

.navbar img {
  height: 100px;
  width: 200px;
  margin-left: -1rem;
}

.search-emoji {
  margin-right: 0.3rem;
}

.navbar h3 {
  margin-right: 5rem;
}

.list-title {
  font-size: 2.5rem;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
}

.fav-placeholder {
  margin-left: 2rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  width: 30%;
}
